.h1 {
    font-family: var(--head);
    font-size: 3rem;
    text-align: center;
}

.loginForm {
    margin: 0 auto;
    max-width: fit-content;
}

.inputArea {
    display: flex;
    flex-direction: column;
    
    font-size: 1.5rem;

    max-width: 251px;
}

.input {
    font-size: 1.2rem;

    /* box model */
    border-radius: 50px;
    padding: 0.2rem 0.4rem;
}

.passwordField {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: end;
}

.login {
    display: block;
    text-decoration: none;
    background-color: var(--accent-3);
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    font-family: var(--body);
    font-size: 1.1rem;
    margin: 0.5rem auto;

    &:hover {
        background-color: var(--accent-2);
        letter-spacing: 1px;
    }
}
